> Import thư viện

In [147]:
import pandas as pd
import numpy as np

> đọc dữ liệu laptop

In [148]:
df_laptop=pd.read_csv("../data/laptop_reviews_by_brand.csv")

> 10 first line

In [149]:
df_laptop.head(10)

,Product Name,Current Price,Reviewer,Rating,Comment,Time Used
0,NaN,NaN,huyền trang,3,em muốn cài sang tiếng việt mà máy hong hỗ trợ,Đã dùng khoảng 1 tháng
1,NaN,NaN,Trịnh Thanh Tú,4,Em có mua máy này ở thế giới di động Sóc Trăng...,Đã dùng khoảng 2 tháng
2,NaN,NaN,NGUYỄN THỊ THANH NHÀN,5,"Mình chỉ sử dụng mục đích học tập, văn phòng n...",Đã dùng khoảng 1 ngày
3,NaN,NaN,bùi tiên,3,tôi không bật được micro trên laptop. xin được...,Đã dùng khoảng 1 tuần
4,Laptop HP Gaming VICTUS 15 fa1139TX i5 12450H/...,18.490.000₫,Nguyễn Chí Vỹ,4,"Lap dùng ổn khi chơi game, làm tác vụ văn phòn...",Đã dùng khoảng 1 tuần
5,Laptop HP Gaming VICTUS 15 fa1139TX i5 12450H/...,18.490.000₫,Cường,2,Không nên mua con này.Dùng vài tháng đã sạc kh...,Đã dùng khoảng 4 tháng
6,Laptop HP Gaming VICTUS 15 fa1139TX i5 12450H/...,18.490.000₫,Nguyễn Chí Tâm,5,Tốt đáng mua,Đã dùng khoảng 1 tuần
7,Laptop HP Gaming VICTUS 15 fa1139TX i5 12450H/...,18.490.000₫,Nguyễn Xuân Toàn,5,NaN,Đã dùng khoảng 1 tuần
8,Laptop HP Gaming VICTUS 15 fa1139TX i5 12450H/...,18.490.000₫,Trần Thị Ngọc Khuyên,4,NaN,Đã dùng khoảng 1 tuần
9,NaN,NaN,Nong thi lan,2,Máy mới mà nhanh hết pin chắc dùng được 2 tiếng,Đã dùng khoảng 1 ngày

> Loại bỏ ký tự không cần thiết từ cột 'Current Price' và chuyển đổi thành kiểu số nguyên

>

In [150]:

df_laptop['Current Price'] = df_laptop['Current Price'].str.replace(r'[^\d]', '', regex=True).astype(float)

> Xử lý time

In [151]:
df_laptop['Time Used'] = df_laptop['Time Used'].str.replace(r'Đã dùng khoảng\s*', '', regex=True).str.strip()

> Xử lý giá trị bị thiếu cho df_laptop

> kiểm tra giá trị null

In [152]:
df_laptop.isnull().sum()

Product Name      35
Current Price     35
Reviewer           1
Rating             0
Comment          100
Time Used          1
dtype: int64

In [153]:

mean_price = df_laptop['Current Price'].mean()
most_common_product_name = df_laptop['Product Name'].mode()[0]
most_common_time_used = df_laptop['Time Used'].mode()[0]
most_common_reviewer = df_laptop['Reviewer'].mode()[0]

# Thay thế các giá trị thiếu trong các cột khác
df_laptop['Product Name'] = df_laptop['Product Name'].fillna(most_common_product_name)
df_laptop['Time Used'] = df_laptop['Time Used'].fillna(most_common_time_used)
df_laptop['Reviewer'] = df_laptop['Reviewer'].fillna(most_common_reviewer)
df_laptop['Current Price'] = df_laptop['Current Price'].fillna(mean_price)
# Tính giá trị phổ biến nhất cho cột 'Comment', nếu có
most_common_comment = df_laptop['Comment'].mode()[0] if not df_laptop['Comment'].mode().empty else 'Unknown'

# Thay thế các giá trị thiếu trong cột 'Comment'
df_laptop['Comment'] = df_laptop['Comment'].fillna(most_common_comment)
df_laptop.to_csv("../data/laptop_data.csv",index=False,encoding='utf-8')

> Kiểm tra null lại

>

In [154]:
df_laptop.isnull().sum()

Product Name     0
Current Price    0
Reviewer         0
Rating           0
Comment          0
Time Used        0
dtype: int64

> Đọc dữ liệu điện thoại

In [155]:
df_dienthoai=pd.read_csv("../data/phone_data.csv")

> 5 dòng đầu tiên

In [156]:
df_dienthoai.head(5)

,Product Name,Current Price,Reviewer,Rating,Comment,Time Used
0,Xiaomi Redmi Note 13,5290000,Hải,5,H thay kính cam hết nhiu ạ,4 tháng
1,Xiaomi Redmi Note 13,5290000,Quách Đoàn,3,Mình vừa dùng đc tầm 2 tháng. Ma giờ đt.đơ giậ...,2 tháng
2,Xiaomi Redmi Note 13,5290000,Đỗ Văn Chien,3,Máy quá tệ Sài tôn pin quá à,1 ngày
3,Xiaomi Redmi Note 13,5290000,Thơm,4,Mình mới mua được nửa tháng bị lỗi sóng di độn...,2 tuần
4,Xiaomi Redmi Note 13,5290000,Nguyễn Văn Thích,4,Em muốn bán lại nhưng ko có phụ kiện thì mất b...,2 tuần

In [157]:
df_dienthoai.isnull().sum()

Product Name     0
Current Price    0
Reviewer         0
Rating           0
Comment          0
Time Used        0
dtype: int64

> Xử lý giá trị bị thiếu

In [158]:
# Tính giá trị phổ biến nhất cho các cột
most_common_reviewer_phone = df_dienthoai['Reviewer'].mode()[0]
most_common_time_used_phone = df_dienthoai['Time Used'].mode()[0]

# Tính giá trị phổ biến nhất cho cột 'Comment', nếu có
most_common_comment_phone = df_dienthoai['Comment'].mode()[0] if not df_dienthoai['Comment'].mode().empty else 'Unknown'

# Thay thế các giá trị thiếu trong các cột
df_dienthoai['Reviewer'] = df_dienthoai['Reviewer'].fillna(most_common_reviewer_phone)
df_dienthoai['Time Used'] = df_dienthoai['Time Used'].fillna(most_common_time_used_phone)
df_dienthoai['Comment'] = df_dienthoai['Comment'].fillna(most_common_comment_phone)

# Kiểm tra lại các giá trị null sau khi xử lý
df_dienthoai[['Reviewer', 'Comment', 'Time Used']].isnull().sum()

# Lưu dataframe đã xử lý vào file CSV
df_dienthoai.to_csv("../data/phone_data.csv", index=False, encoding='utf-8')

> Nối df_laptop và df_dienthoai

In [159]:
# Nối df_laptop và df_dienthoai theo chiều dọc
df_combined = pd.concat([df_laptop, df_dienthoai], ignore_index=True)
# Lưu vào file CSV
df_combined.to_csv("../data/combined_data.csv", index=False, encoding='utf-8')

> Xử lý đổi về ngày sử dụng

In [160]:
def convert_time_to_days(time_str):
    if pd.isna(time_str):
        return np.nan
    time_str = time_str.lower().strip()  # Chuyển về chữ thường và loại bỏ khoảng trắng
    if 'ngày' in time_str:
        return int(time_str.replace('ngày', '').strip())
    elif 'tuần' in time_str:
        return int(time_str.replace('tuần', '').strip()) * 7
    elif 'tháng' in time_str:
        return int(time_str.replace('tháng', '').strip()) * 30
    elif 'năm' in time_str:
        return int(time_str.replace('năm', '').strip()) * 365
    else:
        return np.nan  # Nếu không khớp với định dạng nào

In [161]:
# Áp dụng hàm chuyển đổi
df_combined['Time Used'] = df_combined['Time Used'].apply(convert_time_to_days)